<div style="text-align: center; margin-top: 20px;">
  <h1>Bienvenido a mi App Angular</h1>
</div>

<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card" style="border: 1px solid blue;">
        <div class="card-body">
          <h5 class="card-title">Componente de Saludo</h5>
          <app-saludo></app-saludo>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="card" style="border: 1px solid blue;">
        <div class="card-body">
          <h5 class="card-title">Componente de Contador</h5>
          <app-contador></app-contador>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" style="border: 1px solid blue;">
        <div class="card-body">
          <h5 class="card-title">Componente de Tabla</h5>
          <app-tabla></app-tabla>
        </div>
      </div>
    </div>
  </div>
</div>
